/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* General styles and layout */
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(./fonts/Montserrat-Medium-subset.woff2) format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(./fonts/Montserrat-Bold-subset.woff2) format("woff2");
}

@font-face {
  font-family: "Fraunces";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(./fonts/Fraunces_72pt-Bold-subset.woff2) format("woff2");
}

:root {
  --brand1: hsl(158, 36%, 37%); /* dark cyan */
  --brand2: hsl(158, 36%, 27%); /* very dark cyan */

  --text1: hsl(212, 21%, 14%); /* very dark blue */
  --text2: hsl(228, 12%, 48%); /* dark grayish blue */

  --surface1: hsl(0, 0%, 100%); /* white */
  --surface2: hsl(30, 38%, 92%); /* cream */
}

body {
  background-color: var(--surface2);
  font-family: "Montserrat", sans-serif;
  /* 0.875rem => 0.875 * 16px = 14px */
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text2);
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  padding: 24px;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Footer */
.attribution {
  /* 0.6875rem => 0.6875 * 16px = 11px */
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: var(--brand1);
}
